.taskCardWrapper {
  padding: 10px;
  border-radius: 16px;
}

.cardDataWrapper {
  display: grid;
  align-items: center;
  margin-top: 16px;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 8px;
}
